/* ------ GLOBAL & BACKGROUND ------ */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #080808;
  overflow: hidden;
  font-family: "ByteBounce", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../assets/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body::after {
  content: " ";
  position: fixed;
  inset: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%);
  background-size: 100% 0.25rem;
  z-index: 100;
  pointer-events: none;
  opacity: 0.2;
}

/* ------ CANVAS & CONTAINER ------ */
canvas {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-canvas {
  display: block;
  background-color: black;
  border: 0.1875rem solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 1.25rem 3.75rem rgba(0, 0, 0, 0.9);
  border-radius: 0.625rem;
}

.game-container:fullscreen,
.game-container:-webkit-full-screen {
  width: 100vw !important;
  height: 100vh !important;
  background-color: #000;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.game-container:fullscreen .game-canvas,
.game-container:-webkit-full-screen .game-canvas {
  width: 100vw !important;
  height: calc(100vw / (800 / 450)) !important;
  max-height: 100vh !important;
  max-width: calc(100vh * (800 / 450)) !important;
  object-fit: contain;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

/* ------  BUTTON ------ */
.btn-fullscreen {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: none;
  border: none;
  color: #e3dbc9;
  cursor: pointer;
  z-index: 1000;
  display: block;
  transition: transform 0.2s ease;
}

.btn-fullscreen svg {
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

.btn-fullscreen:hover {
  transform: scale(1.1);
}

.mobile-controls-overlay,
.system-btns,
.orientation-overlay,
#btn-start-game {
  display: none;
}

@media (max-width: 64rem) {
  .btn-fullscreen {
    display: none;
  }
}
